.App {
  text-align: center;
}

.contact-list-table {
  margin-right: auto;
  margin-left: auto;
}

.contact-list-table th {
  text-align: left;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.contact-list-table td {
    text-align: left;
  padding-left: 10px;
  padding-right: 10px;
}

.contact-form {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

.contact-form-flexbox {
  display: flex;
  flex: content;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.contact-form .contact-form-panel {
  margin-right: 20px;
  margin-left: 20px;
  text-align: right;
  min-width: 224px;
}